#node modules
node_modules/

#database
database.sqlite3

#bundle
bundle.js
bundle.js.map

#Some Postgres stuff Ben probably knows more about
PGDATA/
.DS_Store
database.sqlite3
players
tournaments
logfile

#Merge Conflict files
*.orig

#my personal notes
v2notes.md
